.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    
}

.boton{
    background: none;
    border: none;
    padding: 5px;
    color: white;
}
.lista{
    display: flex;
    flex-direction: row;
    
    /*background-image: url("../img/fondo-opacidad.png");*/
    /* border: solid 0.5px rgb(109, 107, 107);*/
    padding: 10px;
    border-radius: 10px;
    
}

.item{
   
    list-style: none;
    border: rgb(109, 107, 107) 1.5px solid;
    border-radius: 10px;
    margin: 2px;
    padding-right: 6px;
    padding-left: 6px;
    background-color:  #43cac8;
    font-size: calc(17px + 1%);
    color: white;
    
}

.item:hover{
    
    -webkit-transform : scale(1.1);  
    box-shadow: rgb(46, 46, 46) 2px 4px 7px 0px;
}